@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    font-size: 16px;
}

body {
    background-color: var(--very-dark-blue);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
}

h1 {
    display: none;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    font-size: 0.875rem;
    color: var(--light-grey);
    line-height: 1.5;
}

.rating {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.3rem;
}

.rating__box {
    background-color: var(--dark-blue);
    padding: 1.8rem 1.5rem;
    border-radius: 0.875rem;
    max-width: 285.406px;
}

.rating__start__img img {
    display: block;
    padding: 0.7rem;
}

.rating__start__rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
}

.rating__start__rate button {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    cursor: pointer;
    background: none;
    background-image: radial-gradient(
        rgba(45, 56, 68, 0.521),
        rgba(45, 56, 68, 0.527)
    );
    color: var(--light-grey);
    transition: 0.3s background-color ease-in;
}

.rating__start__rate button:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.rating__start__rate button.--active {
    background: none;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rating__start__submit {
    margin: 1rem auto 0.5rem auto;
}

.rating__start__submit button {
    border: none;
    width: 100%;
    padding: 0.8rem 0.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    transition: 0.3s background-color ease-in, 0.3s color ease-in;
}

.rating__start__submit button:hover {
    background-color: var(--white);
    color: var(--orange);
}

.rating__end {
    display: none;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.rating__end__img {
    margin: 0.5rem auto;
}

.rating__end__img img {
    width: 9.375rem;
}

.rating__end__text h2 {
    margin: 0.5rem 0;
}

.rating__end__text > p {
    line-height: 1.5;
}

.rating__end__text__choice p {
    color: var(--orange);
    background-image: radial-gradient(
        rgba(45, 56, 68, 0.521),
        rgba(45, 56, 68, 0.527)
    );
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 24px;
    line-height: unset;
}

.circle {
    background-image: radial-gradient(
        rgba(45, 56, 68, 0.521),
        rgba(45, 56, 68, 0.527)
    );

    border-radius: 50%;
    border: none;
}

.btn {
    font-family: "Overpass", sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--orange);
    text-decoration: none;
    letter-spacing: 1px;
}
.attribution a:hover {
    color: hsl(228, 45%, 44%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@media screen and (min-width: 750px) {
    h2 {
        font-size: 28px;
        margin: 1.9rem auto 0.7rem auto;
    }

    p {
        font-size: 15px;
    }

    .rating__box {
        padding: 30px;
        max-width: 345px;
        border-radius: 30px;
    }

    .rating__start__img img {
        margin: 0.2rem 0;
        padding: 1rem;
    }

    .rating__start__rate {
        margin: 1.3rem auto 1.4rem auto;
    }

    .rating__start__rate button {
        padding: 1.65rem;
        font-size: 15px;
    }

    .rating__end__text__choice {
        margin: 1rem auto;
    }
}
